body {
    background-color: rgba(195, 212, 246, 255);
}
#cijela_tabela {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-collapse: collapse;
    border-radius: 10px;
    background-color: white;
    border-spacing: 0px;
}
table tr:first-child th:first-child,
table tr:first-child td:first-child { /*Za border u prvom redu*/
        border-top-left-radius:10px
    }
table tr:first-child th:last-child,
table tr:first-child td:last-child {
        border-top-right-radius:10px
    }
th {
    background-color: rgba(108, 124, 224, 255);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    text-align: left;
    padding-left: 30px;
}
td {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 30px;
    text-align: left;
    width: 200px;
    font-size: 14px;
}
.age{
    text-align: center;
    width: 190px;
    padding-left: 0px;
    padding-top: 13px;
    padding-bottom: 13px;
}

